<form action="/enviado" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>CPF: </p>
    <input type="text" name="cpf">
    <p>Idade: </p>
    <input type="text" name="idade">
    <p>E-mail: </p>
    <input type="text" name="email">
    <button type='submit'>Cadastrar usuário</button>
</form>